<header class="header">
  <div class="header--img" style="background-image: url(<%= titleImg %>)">
    <div class="header--stats">
      <p class="header--stats__player">
        <%= views %>
      </p>
      <p class="header--stats__word">人已参与</p>
    </div>
  </div>
  <div class="header--intro">
    <p class="header--intro__title">
      <%= keyword %>
    </p>
    <p class="header--intro__detail detail-hide" 
        id="header-detail">
      <%= content %>
    </p>
  </div>
</header>