<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="screen-orientation" content="portrait">
  <script>
      !function(a,b){function c(){var b=f.getBoundingClientRect().width;b/i>540&&(b=540*i);var c=b/10;f.style.fontSize=c+"px",k.rem=a.rem=c}var d,e=a.document,f=e.documentElement,g=e.querySelector('meta[name="viewport"]'),h=e.querySelector('meta[name="flexible"]'),i=0,j=0,k=b.flexible||(b.flexible={});if(g){console.warn("将根据已有的meta标签来设置缩放比例");var l=g.getAttribute("content").match(/initial\-scale=([\d\.]+)/);l&&(j=parseFloat(l[1]),i=parseInt(1/j))}else if(h){var m=h.getAttribute("content");if(m){var n=m.match(/initial\-dpr=([\d\.]+)/),o=m.match(/maximum\-dpr=([\d\.]+)/);n&&(i=parseFloat(n[1]),j=parseFloat((1/i).toFixed(2))),o&&(i=parseFloat(o[1]),j=parseFloat((1/i).toFixed(2)))}}if(!i&&!j){var p=(a.navigator.appVersion.match(/android/gi),a.navigator.appVersion.match(/iphone/gi)),q=a.devicePixelRatio;i=p?q>=3&&(!i||i>=3)?3:q>=2&&(!i||i>=2)?2:1:1,j=1/i}if(f.setAttribute("data-dpr",i),!g)if(g=e.createElement("meta"),g.setAttribute("name","viewport"),g.setAttribute("content","initial-scale="+j+", maximum-scale="+j+", minimum-scale="+j+", user-scalable=no"),f.firstElementChild)f.firstElementChild.appendChild(g);else{var r=e.createElement("div");r.appendChild(g),e.write(r.innerHTML)}a.addEventListener("resize",function(){clearTimeout(d),d=setTimeout(c,300)},!1),a.addEventListener("pageshow",function(a){a.persisted&&(clearTimeout(d),d=setTimeout(c,300))},!1),"complete"===e.readyState?e.body.style.fontSize=12*i+"px":e.addEventListener("DOMContentLoaded",function(){e.body.style.fontSize=12*i+"px"},!1),c(),k.dpr=a.dpr=i,k.refreshRem=c,k.rem2px=function(a){var b=parseFloat(a)*this.rem;return"string"==typeof a&&a.match(/rem$/)&&(b+="px"),b},k.px2rem=function(a){var b=parseFloat(a)/this.rem;return"string"==typeof a&&a.match(/px$/)&&(b+="rem"),b}}(window,window.lib||(window.lib={}));
  </script>
  <style type="text/css">
    @font-face {
      font-family: "iconfont";
      src: url('../static/fonts/iconfont.eot?t=1493864126004'); /* IE9*/
      src: url('../static/fonts/iconfont.eot?t=1493864126004#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../static/fonts/iconfont.woff?t=1493864126004') format('woff'), /* chrome, firefox */
            url('../static/fonts/iconfont.ttf?t=1493864126004') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
            url('../static/fonts/iconfont.svg?t=1493864126004#iconfont') format('svg'); /* iOS 4.1- */
    }

    .iconfont {
      font-family: "iconfont" !important;
      font-size: 0.46rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
  <title>#掌上重邮 话题#</title>
</head>
  <body>
    <div id="main"></div>
    <script src="./public/bundle.js"></script>
  </body>
  <!-- 引入微信 api -->
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <!-- 引入配置 -->
  <script src="http://hongyan.cqupt.edu.cn/api/share.js"></script>
  <script>
      WXSHARE.config({debug: true});
      WXSHARE.ready(function() {
        var option = {
            title: "掌上重邮话题分享",
            link: window.location.href,
            imgUrl: 'https://redrock.cqupt.edu.cn/files/logo.png',
            desc: '我正在参加掌上重邮话题分享 大家快来吧',
            type: '',
            success: function() {
                console.log('分享成功');
            },
            cancel: function() {
                console.log('取消分享');
            },
        };

        wx.onMenuShareTimeline(option);
        wx.onMenuShareAppMessage(option);
        wx.onMenuShareQQ(option);
        wx.onMenuShareWeibo(option);
        wx.onMenuShareQZone(option);

    });
  </script>
</html>